body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #444;
  margin: 0;
}

header {
  background-color: #a7ddcb;
}

.header {
  width: 960px;
  margin: 0 auto;
}

.header-logo {
  float: left;
}

.header_logo-img {
  width: 25%;
  height: auto;
}

h1 {
  margin-right: 50px;
}

ul {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #444;
  font-size: 16px;
}